.main-container
  .logo-container
    .logo-wrap
      %img{src: '/assets/logo retrofit.png', alt: 'logo'}
      %p Наше дело - совершенствование автомобилей для любых ваших идей
      .contacts-container
        %p.phone +7 (923) 625-05-78
        %p.address Новокузнецк ул. Восточная, 37
        %p.scheme Схема проезда
  .slider
    .image
  .last-works
    %center
      %p.title Последние работы
      %img{src: '/assets/short-border.png'}
    .samples
      .item
        %img{src: '/assets/pedals.png'}
        %p Установка дублирующих педалей
      .item
        %img{src: '/assets/engine.png'}
        %p Переоборудование автомобиля ЗиЛ - 130 двигателем Д - 245
      .item
        %img{src: '/assets/b-cat.png'}
        %p Переоборудование автомобиля из категории "Д" в "B"
    %center
      %img{src: '/assets/short-border.png'}
      %a{href: 'javascript:;'} Все проекты