!!!
%html
  %head
    %title Retrofit
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .header
        %ul
          %li
            %a{href: 'javascript:;'} компания
          %li
            %a{href: 'javascript:;'} наши работы
          %li
            %a{href: 'javascript:;'} контакты
        %a{href: 'javascript:;'} ОТПРАВИТЬ ЗАЯВКУ
      = yield
      .footer
        .bottom-address
          %p Наши контакты:
          %p
            +7 (923) 625-05-78
            %br
              sergeikiselev85@mail.ru
              %br
                654029, г.Новокузнецк,
                %br
                  ул. Восточная, 37
        .have-questions
          %p У Вас остались вопросы?
          .bottombutton
            %p Мы Вам позвоним!